/* COLORS */

/* #041DE5- for backgrounds e.g cards/boxes/divs/banner*/
/* #021DE5- for some text and buttons */
/* #0A6187- for text inside buttons */
/* #051A4F- for some other backgrounds e.g cards/boxes/divs/banner */
/* #EEF0F1- body background */
/* #F9FAFA- for some cards */
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
